<head>

<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="index_style.css" />
</head>

<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="item-title">Past Projects</div>
      <div class="item-detail"><a href="pastprojects.html">Find out more...</a></div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="item-title">Current Projects</div>
      <div class="item-detail"><a href="currentprojects">Find out more...</a></div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="item-title">Upcoming Projects</div>
      <div class="item-detail"><a href="upcomingprojects">Find out more...</a></div>
    </li>

  </ul>

</div>